<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="com.pylonproducts.wifiwizard"
	version="0.2.9">

    <name>WifiWizard</name>
    <description>This plugin allows Phonegap applications to manage Wifi connections.</description>
	<author>Matt Parsons</author>
	<keywords>phonegap,network,wifi</keywords>
    <license>Apache 2.0</license>
	<repo>https://github.com/parsonsmatt/WifiWizard/</repo>

    <js-module src="www/WifiWizard.js" name="WifiWizard">
    	<clobbers target="window.WifiWizard"/>
    </js-module>

    <platform name="android">

		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
			<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
		</config-file>

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="WifiWizard">
				<param name="android-package" value="com.pylonproducts.wifiwizard.WifiWizard" />
				<param name="onload" value="true" />
			</feature>
		</config-file>

	<source-file src="src/android/src/com/pylonproducts/wifiwizard/WifiWizard.java" target-dir="src/com/pylonproducts/wifiwizard" />
    </platform>

	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="WifiWizard">
				<param name="ios-package" value="NXWWifiWizard"/>
			</feature>
		</config-file>
		
		<header-file src="src/ios/NXWWifiWizard.h"/>
		<source-file src="src/ios/NXWWifiWizard.m"/>
		<framework src="SystemConfiguration.framework" />
	</platform>

</plugin>
